<div class="dialog-template">

  <div class="dialog-template-header">
    <h3>{{ title }}</h3>
  </div>

  <div class="dialog-template-body">
    <form class="tornillo-form" [formGroup]="form" >
      <div class="full-with-form">
        <label for="name">Nombre: </label>
        <input 
          id="name" 
          type="text" 
          formControlName="nombre"
        >
      </div>

      <div>
        <label for="name">Precio: </label>
        <input 
          id="name" 
          type="number" 
          formControlName="precio"
        >

        <mat-form-field class="product-field">
          <mat-label>Seleciona un valor</mat-label>
          <mat-select formControlName="formato">
            <mat-option *ngFor="let formato of formatos" [value]="formato">{{
              formato
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
      <div class="full-with-form">
        <label for="name">Marca: </label>
        <input 
          id="name" 
          type="text" 
          formControlName="marca"
        >
      </div>
    </form>
  </div>
  <div class="dialog-template-footer">
    <button 
      class="cancel-button"
      (click)="cancel()"
    >
      {{candelButtonText}}
    </button>
    <button 
      class="accept-button"
      (click)="saveTornillo()"
    >
      {{submitButtonText}}
    </button>
  </div>
</div>