<table class="body">
    <thead class="header-list">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Formato</th>
        <th scope="col">Marca</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tornillo of Tornillos">
        <td>{{tornillo.nombre}}</td>
        <td>{{tornillo.precio}}</td>
        <td>{{tornillo.formato}}</td>
        <td>{{tornillo.marca}}</td>
        <td>icon bin</td>
      </tr>
    </tbody>
  </table> 