// grayscale
$hk-gray01: #45515d;
$hk-gray01-alpha01: #45515d60;

// green
$hk-green01: #07bc0c;
$hk-green02: #64eca8;
$hk-green03: #0f5132;
$hk-green04: #d1e7dd;
$hk-green05: #e0fcee;
$hk-green06: #b1f5d3;
$hk-green07: #64eca850;

